@import url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    background-color: #111111;
    color: aliceblue;
    overflow: hidden;

}

.main {
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin-left: 100px;
}

.rating {
    margin-bottom: 27px;
    width: 150px;
    padding: 30px;
    border-radius: 20px;
    background-color: #FA7268;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.merge {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.merge p {
    margin: 0;
    font-size: 35px;
}

.rating img {
    width: 40px;
    margin-right: 20px;
}

.stats {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
}

#chart1, #chart2 {
    margin-left: 70px;
    width: 40vw;;
}

.stats h1 {
    margin-left: 70px;
    margin-bottom: 70px;
}
